.THIS {
    cursor: -webkit-grab;
    border-bottom: solid 1px #d8dde6;
    width: 100%;
}

.THIS a {
	color: inherit;
}

.THIS:active {
    cursor: -webkit-grabbing;
}

.THIS img.merchandise {
    height: auto;
    min-height: 50px;
    width: 50px;
}

.THIS img {
    max-width: initial;
}

.THIS .price,
.THIS .title {
    font-weight: bold;
    text-transform: uppercase;
}

.THIS .price {
    color: #FF6600;
}