.THIS {
    margin-top: -20px;
}

.THIS .header {
    padding: 20px 20px 20px 0;
    border-top: solid 1px #D8DDE6;
}

.THIS .header-fields>div {
    padding-right: 20px;
}

.THIS .slds-icon_container {
    border-radius: 2px;
}

.THIS .total-msrp {
    width: 80px;
    color: #FF6600;
}

.THIS .drop-zone {
	box-sizing: border-box;
	min-height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: transparent;
}

.THIS .drop-zone.active {
    border-color: #D8DDE6;
}